.account {

  .wrapper {
    max-width: 100rem;
    margin: 0 auto;

    .content {
      height: 100vh;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .accountWindow__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 31.5rem;
        align-items: center;

        h2 {
          text-align: center;
        }

        .accountForm {
          background-color: #F0F1F1;
          padding: 2.5rem 4.2rem;
          margin: 0 4.2rem;
        }

        .button__wrapper {
          padding-top: 2rem;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          *:only-child {
            margin: 0 auto;
          }
        }

      }
    }
  }
}
