.homeHeader {

  .wrapper {
    max-width: 100rem;
    margin: 0 auto;

    .content {
      height: 60.1875rem;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .image {
        flex-basis: 50%;
        flex-grow: 0;
        position: relative;
        height: 100%;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          display: inline-block;
        }
      }

      .cta__wrapper {
        min-width: 44.125rem;
      }

      .cta {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .button__container {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          width: 100%;
        }

      }
    }
  }
}