.homeContact {
  background-image: url("../../assets/Background-Contact-Form.jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-blend-mode: lighten;

  .wrapper {
    max-width: 100rem;
    margin: 0 auto;
    height: 64.125rem;

    .content {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .form__wrapper {
        text-align: center;
        max-width: 33rem;
      }

      .copyright {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 1.5rem;
        p {
          margin: 0;
        }
      }

      .icons {
        position: absolute;
        right: 0;
        bottom: 1.5rem;
        img {
          padding-left: 2rem;
        }
      }

    }
  }
}