section.homeThreeColumns {
  height: 24rem;
  background-image: url("../../assets/3 Columns Background.png");
  background-size: cover;

  .wrapper {
    max-width: 98.375rem;
    margin: 0 auto;
    height: 100%;

    .content {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      article.column {
        color: $colorText;
        max-width: 20.875rem;
        text-align: center;
        * {
          display: block;
        }


        h3 {
          color: $colorHeader;
          font-size: 5.625rem;
          font-weight: 300;
          margin: 0;
        }

        span {
          text-transform: uppercase;
          padding: 2rem 0;
          font-size: 1.125rem;
        }

        p {
          margin: 0;
          font-weight: 300;
          font-family: $font-alt;
        }
      }
    }
  }

}