section.homeSimpleSteps {
  height: 47.4375rem;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .header {
        h2 {
          margin: 0;
          padding-top: 3.4375rem;
        }
        img.decoration {
          padding-top: 1.5625rem;
          padding-bottom: 2.125rem;
        }
      }

      .fourColumns {
        height: 20.3125rem;
        background-color: $colorBackground;

        .wrapper {
          max-width: 69.125rem;
          margin: 0 auto;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          article.column {
            max-width: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img__wrapper {
              width: 5.1875rem;
              height: 5.1875rem;
            }

            span {
              font-size: 1.125rem;
              padding-top: 0.5rem;
              position: relative;
            }

            .spacer {
              width: 4.375rem;
              margin: 1rem;
              border-bottom: 1px solid $colorDarkAccent;
            }

            p {
              margin: 0;
            }
          }
        }
      }

      .button__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.1875rem 0 5rem 0;
      }

    }
}