section.homeThreeColumns {
  height: 24rem;
  background-image: url("../../assets/3 Columns Background.png");
  background-size: cover;

  @include upTo800px {
    height: auto;
    padding: 5rem 0;
  }

  .wrapper {
    max-width: 98.375rem;
    margin: 0 auto;
    height: 100%;
    padding: 0 5rem;


    .content {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      @include upTo800px {
        flex-direction: column;
        gap: 5rem;
      }

      article.column {
        color: $colorText;
        max-width: 20.875rem;
        text-align: center;

        * {
          display: block;
        }

        h3 {
          color: $colorHeader;
          font-size: 5.625rem;
          font-weight: 300;
          margin: 0;
        }

        span {
          text-transform: uppercase;
          padding: 2rem 0;
          font-size: 1.125rem;
        }

        p {
          margin: 0;
          font-weight: 300;
          font-family: $font-alt;
        }
      }
    }
  }

}