form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;

  .errorText {
    font-size: 0.8rem;
    color: red;
  }

  .errorBorder {
    border-color: red;
  }

  label {
    margin-bottom: 2rem;
    font-weight: 600;
    flex-basis: 100%;
    width: 100%;

    &.halfWidth {
      flex-basis: 45%;
      flex-grow: 0;
    }
  }

  textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    resize: vertical;
  }

  input.textInput {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-top: 1rem;

    &.errorBorder {
      border-color: red;
    }

  }

  input.submitInput {
    width: auto;
    margin-left: auto;
  }

  input::placeholder, textarea::placeholder{
    font-size: 1.125rem;
    color: #3C3C3C26;
  }

  [disabled] {
    cursor: not-allowed;
  }

  input[type="radio"] {
    appearance: none;
    font: inherit;
    color: black;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid black;
    margin: 0 2rem 0 0;
    transition: background-color 0.2s;

    &:checked {
      background-color: $colorAccent;
    }
  }
}